---
const { primary_color, uppercase } = Astro.props
---
<h4 class={`${uppercase?"uppercase":""} ${primary_color?"text-primary":"text-black"} font-karla md:font-regular tracking-widest text-lg`}>
    <slot/>
</h4>
