---
const { text, primary_color, uppercase } = Astro.props
---
<h5 class={`${uppercase?"uppercase font-karla !text-base":""} ${primary_color?"text-primary":"text-black"} ${wide?"tracking-widest":""} font-bold text-lg font-karla`}>{ text }</h5>
