---
const { text, primary_color, uppercase } = Astro.props
---
<h5 class={`${uppercase?"uppercase font-karla !text-base":""} ${primary_color?"text-primary":"text-black"} md:font-bold text-lg`}>{ text }</h5>
