---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const ideasEntries = await getCollection('ideas');
  	return ideasEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
const { entry } = Astro.props;
const { Content } = await entry.render();
import Head from "../../components/common/Head.astro"
import Footer from "../../components/Footer.astro"
import Header from "../../components/common/Header.jsx"
import H1 from "../../components/common/atom/H1.astro"
import Button from "../../components/common/Button.astro"
import Paragraph from "../../components/common/Paragraph.astro"
import ParagraphGaramond from "../../components/common/atom/ParagraphGaramond.astro"
import "../../styles.css"
---
<html lang="en">
	<Head
		title={ entry.data.title }
	/>
	<body>
		<Header
			client:load
			title={ entry.data.title }
            subtitle={ entry.data.sub_title }
			cover={ entry.data.image }
			not_cover={ true }
		/>
		<div class="mt-5 container mx-auto max-w-2xl py-20">
            <Content/>
			<div class="mt-4">
				<ParagraphGaramond
					text={ entry.data.publish_date }
				/>
			</div>
			<div class="mt-4 flex gap-8">
				<div class="w-56">
					<Button
						text="BACK"
					/>
				</div>
				<div class="w-56">
					<Button
						text="SHARE"
					/>
				</div>
			</div>
        </div>
		<Footer />
	</body>
</html>
