---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const teammemberEntries = await getCollection('teammember');
  	return teammemberEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
const { entry } = Astro.props;
const { Content } = await entry.render();
import Head from "../../components/common/Head.astro"
import Footer from "../../components/Footer.astro"
import Header from "../../components/common/Header.jsx"
import "../../styles.css"
---
<html lang="en">
	<Head
		title={ entry.data.seo_title }
		description={entry.data.seo_description}
		image={entry.data.image}
	/>
	<body>
		<section class="min-h-screen">
			<Header
				client:load
				title={ entry.data.title }
				subtitle={ entry.data.sub_title !== "" ? entry.data.sub_title : null  }
				cover={ entry.data.image }
				not_cover={ true }
			/>
			<section class="container mx-auto max-w-6xl p-20">
				<Content/>
			</section>
		</section>
		<Footer />
	</body>
</html>
