---
import H1 from "../common/atom/H1.astro"
import Paragraph from "../common/Paragraph.astro"
---
<div class="grid grid-cols-1 md:grid-cols-8 gap-8 items-center relative p-4 md:p-0 py-10 md:py-20">
    <div class="col-span-3 grid grid-cols gap-4">
        <H1
            text="Creating Exceptional Digital Experiences"
        />
        <Paragraph
            text="Our multi-disciplinary teams share the same collaborative office space, constantly exchanging ideas, consulting on decisions and analyzing evolving user expectations. It’s how we successfully produce forward-thinking digital products for some of the world’s top brands – from the first 360-degree app for BMW to the full eCommerce UX and Redesign of Roots."
        />
    </div>
    <div/>
    <div class="col-span-4">
        <img
            src="https://blupp.b-cdn.net/idearebel/Idea-Rebel-Digital-Marketing-Agency.png?quality=80"
            class="w-full object-fit"
        />
    </div>
    <div class="absolute bg-secondary w-[80%] h-[80%] bottom-0 left-[10%] -z-10 hidden md:block" />
</div>
