---
import H1 from "../common/atom/H1.astro"
import Paragraph from "../common/Paragraph.astro"
---
<div class="grid grid-cols-1 md:grid-cols-8 gap-8 items-center relative p-4 md:p-0 py-10 md:py-20">
    <div class="col-span-4">
        <img
            src="https://blupp.b-cdn.net/idearebel/metaverse-marketing.png?quality=80"
            class="w-full object-fit"
        />
    </div>
    <div class="col-span-4 grid grid-cols gap-4">
        <H1
            text="Matching Ideas to Technology"
        />
        <Paragraph
            text="Silo-free thinking informs everything we do. Our process still starts with strategy but our ability to deliver winning work is powered by brand, data and user experience integration, irrespective of the medium. We’re more than just a creative agency. Working with existing and evolving technology stacks, our in-house delivery teams have a deep understanding of business tech, from Mobile, eCommerce, CRM, ERP and CMS to Email and Social Media. That’s how we develop technology to fit the size of our ideas, not just ideas to fit pre-existing technology."
        />
    </div>
    <div class="absolute bg-secondary w-[100%] md:w-[80%] h-[100%] top-0 left-0 md:left-[10%] -z-10" />
</div>
