---
import H4 from "../common/atom/H4.astro"
// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants"
---
<div class="flex justify-center flex-col items-center">
    <H4 uppercase= { true } wide= { true }>Select Awards</H4>
</div>
<div class="flex justify-center flex-col items-center">
    <div class="grid grid-cols-2 md:grid-cols-4 items-center justify-center gap-4 w-full py-4">
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "lotus_award.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "atomic_award.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "fwa_award.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "digi_award.png?quality=" + IMAGE_QUALITY }
            >
        </div>
    </div>
</div>
