---
import H1 from "../common/atom/H1.astro"
import Paragraph from "../common/Paragraph.astro"
---
<div class="grid grid-cols-1 md:grid-cols-8 gap-8 items-center relative p-4 md:p-0 py-10">
    <div class="col-span-3 grid grid-cols gap-4">
        <H1
            text="We are Rebels"
        />
        <Paragraph
            text="We’re not just pixel pushers, devs and copy jockeys. We’re nature lovers, surfers, snowboarders, foodies, film buffs and fixie riders, too."
        />
    </div>
    <div />
    <div class="col-span-3">
        <img
            src="https://blupp.b-cdn.net/idearebel/Idea-Rebel-We-Are-Rebels-e1650503414390.jpeg?quality=80"
            class="w-full object-fit"
        />
    </div>
    <div class="absolute bg-secondary w-[90%] h-[80%] top-0 right-0 -z-10 hidden md:block" />
</div>
