---
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
import OfficeDirections from "../components/common/office/OfficeDirections.astro"
import Head from "../components/common/Head.astro"
import "../styles.css"
---

<html lang="en">
	<Head
		title="Contact Idea Rebel | Digital Marketing Agency Toronto, Vancouver, LA"
		description="Idea Rebel is a full-service Digital Marketing Agency in Vancouver, Toronto and Los Angeles - Media Buying, Strategy, Digital Experiences"
		image="https://blupp.b-cdn.net/idearebel/2017-06-07.jpg?quality=80"
	/>
	<body>
        <Header
			client:load
			title="Contact"
            subtitle="Start something with Idea Rebel"
			cover="https://blupp.b-cdn.net/idearebel/contact.jpg?quality=80"
		/>
		<section class="container mx-auto max-w-6xl p-20">
			<div class="grid grid-cols-2 gap-8">
				<div>
					<H3
						text="Get in touch with us"
					/>
				</div>
				<div class="grid gap-12">
					<div class="space-y-2">
						<H5
							text="NEW BUSINESS"
							uppercase={ true }
							font_normal={ true }
						/>
						<a class="hover:underline" href="mailto:newbusiness@idearebel.com"><Paragraph
							text="newbusiness@idearebel.com"
						/></a>
					</div>
					<div class="space-y-2">
						<H5
							text="Press"
							uppercase={ true }
							font_normal={ true }
						/>
						<a class="hover:underline" href="mailto:press@idearebel.com"><Paragraph
							text="press@idearebel.com"
						/></a>
					</div>
					<div class="space-y-2">
						<H5
							text="CAREERS"
							uppercase={ true }
							font_normal={ true }
						/>
						<a class="hover:underline" href="mailto:careers@idearebel.com"><Paragraph
							text="careers@idearebel.com"
						/></a>
					</div>
					<div class="space-y-2">
						<H5
							text="TALK TO A HUMAN"
							uppercase={ true }
							font_normal={ true }
						/>
						<a class="hover:underline" href="tel:+8777323507"><Paragraph
							text="(877) 732-3507"
						/></a>
					</div>
				</div>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl bg-zinc-100 p-20">
			<div class="text-center">
				<H5
					text={ "our Offices" }
					uppercase={ true }
					primary_color={ true }
					wide={ true }
				/>
			</div>
			<div class="grid grid-cols-3 gap-20 mt-8">
				<OfficeDirections
					cover="https://blupp.b-cdn.net/idearebel/vancouver_cloudy-1.gif?quality=80?quality=80&width=800"
					location="Idea Rebel Vancouver"
					address_1="113 Water Street"
					address_2="Vancouver, BC V6B 1A7"
					phone="(604) 569-2155"
					link="office/vancouver-digital-marketing-agency/"
					button_link="https://goo.gl/maps/ebp1zjuvUpM2"
				/>
				<OfficeDirections
					cover="https://blupp.b-cdn.net/idearebel/toronto_cloudy-1.gif?quality=80?quality=80&width=800"
					location="Idea Rebel Toronto"
					address_1="501 Queen Street West "
					address_2="Toronto, ON M5V 2B4"
					phone="(647) 725-7892"
					link="office/toronto-digital-marketing-agency/"
					button_link="https://goo.gl/maps/Zag9KX321g12"
				/>
				<OfficeDirections
					cover="https://blupp.b-cdn.net/idearebel/santamonica_cloudy.gif?quality=80?quality=80&width=800"
					location="Idea Rebel Angeles"
					address_1="225 Arizona Avenue"
					address_2="Santa Monica, CA 90401"
					button_link="https://goo.gl/maps/3TFjFo5VzR6YupXq6"
					phone="(310) 595-1252"
					link="office/los-angeles-digital-marketing-agency/"
					phone_number="tel:+3105951252"
				/>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl grayscale my-8">
			<div class="py-2">
				<H3
					text={ "Vancouver Digital Marketing Agency - Idea Rebel" }
				/>
			</div>
			<div class="bg-zinc-200">
				<iframe
					width="100%"
					height="450"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLmIyBNQokwz3LwKJS0LImC0eWDzGR5CU&q=idea+rebel,vancouver"
				/>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl grayscale my-8">
			<div class="py-2">
				<H3
					text={ "Toronto Digital Marketing Agency - Idea Rebel" }
				/>
			</div>
			<div class="bg-zinc-200">
				<iframe
					width="100%"
					height="450"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLmIyBNQokwz3LwKJS0LImC0eWDzGR5CU&q=idea+rebel,toronto"
				/>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl grayscale my-8">
			<div class="py-2">
				<H3
					text={ "Los Angeles Digital Marketing Agency - Idea Rebel" }
				/>
			</div>
			<div class="bg-zinc-200">
				<iframe
					width="100%"
					height="450"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLmIyBNQokwz3LwKJS0LImC0eWDzGR5CU&q=idea+rebel,los+angles"
				/>
			</div>
		</section>
		<Footer />
	</body>
</html>
