---
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=karla:400" rel="stylesheet" />
	</head>
	<body>
		<Header
			client:load
			title="Careers"
			cover="https://blupp.b-cdn.net/idearebel/Idea-Rebel-We-Are-Rebels-Agency-2.jpeg?quality=80"
		/>
        <Footer />
	</body>
</html>
