---
// LAYOUTS
import Container from "../layouts/Container.astro"
import Layout from "../layouts/Layout.astro"

// COLLECTIONS
import { getCollection } from 'astro:content';
const careers = await getCollection('careers');
const careers_sorted = careers.sort((a, b) => a.data.order - b.data.order)
// JUST VANCOUVER OPENINGS
const careers_filtered = careers_sorted.filter((opening) => opening.data.location.indexOf("vancouver") !== -1 );

// ATOM
import H1 from "../components/common/atom/H1.astro"
import H3 from "../components/common/atom/H3.astro"
import Button from "../components/common/atom/Button.astro"
import ParagraphGaramond from "../components/common/atom/ParagraphGaramond.astro"

// COMPONENTS
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"

// STYLESHEET
import "../styles.css"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../constants"
import Paragraph from "../components/common/atom/Paragraph.astro";
---
<Layout
	title="Technology, Creative & Digital Marketing Jobs | Idea Rebel"
	description="Looking for an exciting career at our digital marketing agency? Check out our open positions at Idea Rebel Vancouver, Toronto, & Los Angeles"
	image={ CDN_LINK + "Idea-Rebel-We-Are-Rebels-Agency-2.png?quality" + IMAGE_QUALITY }
>
	<Header
		client:load
		title="Careers"
		cover={ CDN_LINK + "Idea-Rebel-We-Are-Rebels-Agency-2.jpeg?quality" + IMAGE_QUALITY }
	/>
	<Container>
		<section id="content">
			<H1>We don't do resumes.</H1>
			<Paragraph>
				<span>But if you think you're rebel calibre, tweet</span>
				<a href="https://x.com/idearebel" target="_blank" rel="nofollow noindex">
					<span class="relative group !z-20 cursor-pointer">
						<span class="z-20 relative">@idearebel</span>
						<span class="absolute bg-ir_green h-1.5 w-full bottom-1 left-0 group-hover:h-5 !z-10 transition-height duration-200 ease-in"></span>
					</span>
				</a>
				<span>and tell us why you've got the chops.</span>
			</Paragraph>
		</section>
		<section>
			<div class="grid grid-cols-3 gap-8">
				<Button link="careers/vancouver" selected={ true }>idea rebel vancouver</Button>
				<Button link="careers/toronto">idea rebel toronto</Button>
				<Button link="careers/los-angeles">idea rebel los angeles</Button>
			</div>
		</section>
		<section>
			<div class="flex flex-col items-center justify-center gap-8">
			{

				careers_filtered.map( ( career ) => {

					return (
						<div class="grid gap-2 text-center">
							<a href={ "/careers/vancouver/" + career.data.link } class="hover:underline">
								<H3>{career.data.title}</H3>
							</a>
							<ParagraphGaramond>{career.data.sub_title}</ParagraphGaramond>
						</div>
					)

				})

			}
			</div>
		</section>
	</Container>
	<Footer />
</Layout>
