---
import { getCollection } from 'astro:content';
const posts = await getCollection('ideas');
const posts_sorted = posts.sort((a, b) => a.data.order - b.data.order)
import H1 from "../components/common/atom/H1.astro"
import H3 from "../components/common/atom/H3.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Head from "../components/common/Head.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"
---

<html lang="en">
	<Head
		title="Creative Ideas"
	/>
	<body>
        <Header
			client:load
            title="Ideas"
            subtitle="We develop groundbreaking, next-level concepts for our clients, from ideation to realization."
			cover="https://blupp.b-cdn.net/idearebel/metaverse-marketing.png?quality=80"
		/>
        <section class="container mx-auto max-w-6xl p-4 md:p-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                {

                    posts_sorted.map( ( idea ) => {

                        return(
                            <a href={ "/ideas/" + idea.data.link }>
                                <div class="w-full h-96 bg-cover bg-center bg-zinc-200 p-20 group relative">
                                    <div class="flex h-full items-center justify-center mx-auto">
                                        <div class="bg-white p-10 text-center opacity-90 duration-200 group-hover:opacity-100 z-20">
                                            <H3
                                                text={ idea.data.title }
                                            />
                                        </div>
                                    </div>
                                    <img
                                        src={ idea.data.image }
                                        class="object-cover absolute top-0 left-0 z-10 w-full h-full"
                                        alt={ idea.data.title + "'s image" }
                                    />
                                </div>
                            </a>
                        )

                    })

                }
            </div>
        </section>
        <Footer />
	</body>
</html>
