---
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=karla:400" rel="stylesheet" />
	</head>
	<body>
        <Header
			background={"bg-digital_services"}
			client:load
		/>
		<section class="w-full h-screen bg-cover bg-center flex justify-center items-center bg-zinc-200">
            <div class="p-10 bg-white text-center grid gap-8 max-w-[30%]">
                <H1
                    text="Digital Services"
                />
                <Paragraph
                    text="Raising the bar with killer ideas and cutting-edge technology. It's what we do."
                />
            </div>
        </section>
        <Footer />
	</body>
</html>
