---
// LAYOUTS
import Container from "../layouts/Container.astro"
import Layout from "../layouts/Layout.astro"

// COLLECTION DATA
import { getCollection } from "astro:content"
const work = await getCollection("work")
const work_sorted = work.sort((a, b) => a.data.order - b.data.order)

// ATOMS
import H3 from "../components/common/atom/H3.astro"
import Link from "../components/common/atom/Link.astro"
import ParagraphGaramond from "../components/common/atom/ParagraphGaramond.astro"

// COMPONENTS
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"
import SelectClients from '../components/common/SelectClients.astro'

// STYLESHEET
import "../styles.css"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../constants"
---
<Layout
	title="Media Buying, Strategy, Digital Marketing Experiences | Idea Rebel"
    description="Digital Marketing Agency - Idea Rebel - We work with brands - Media buying, Strategy, Marketing Campaigns in Toronto, Vancouver & Los Angeles"
    image={ CDN_LINK + "Slurpee-7Eleven-Idea-Rebel.jpg?quality=" + IMAGE_QUALITY }
>
    <Header
        client:load
        title="Work"
        subtitle="We develop tomorrow's digital products for today's award-winning brands."
        cover={ CDN_LINK + "Slurpee-7Eleven-Idea-Rebel.jpeg?quality=" + IMAGE_QUALITY }
    />
    <Container>
        <section id="content">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                {

                    work_sorted.map( ( idea ) => {

                        return(
                            <Link link={ "work/" + idea.data.link }>
                                <div class="w-full h-96 bg-cover bg-center bg-zinc-200 p-4 xl:p-20 group relative">
                                    <div class="flex h-full items-center justify-center mx-auto">
                                        <div class="bg-white p-10 text-center opacity-100 md:opacity-0 duration-200 group-hover:opacity-100 z-20 gap-4 flex flex-col">
                                            <H3>{ idea.data.title }</H3>
                                            <ParagraphGaramond>{ idea.data.sub_title }</ParagraphGaramond>
                                        </div>
                                    </div>
                                    <img
                                        src={ idea.data.image }
                                        class="object-cover absolute top-0 left-0 z-10 w-full h-full"
                                        alt={ idea.data.title + "'s image" }
                                    />
                                </div>
                            </Link>
                        )

                    })

                }
            </div>
        </section>
        <SelectClients />
    </Container>
    <Footer />
</Layout>
