---
// LAYOUTS
import Container from "../layouts/Container.astro"
import Layout from "../layouts/Layout.astro"

// COLLECTION DATA
import { getCollection } from 'astro:content';
const services = await getCollection('services');
const services_sorted = services.sort((a, b) => a.data.order - b.data.order)

// ATOMS
import H1 from "../components/common/atom/H1.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/atom/Button.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"

// COMPONENTS
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
import ServicesRight from "../components/digital-services/ServicesRight.astro"
import ServicesLeft from "../components/digital-services/ServicesLeft.astro"
import Service from "../components/services/Service.astro"

// STYLESHEET
import "../styles.css"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../constants"
---
<Layout
	title="Digital Marketing Agency Services: Media & Experiences | Idea Rebel"
	description="Idea Rebel is a full-service digital marketing agency in Toronto, Vancouver & LA - Media Buying & Strategy, Digital Experiences, Campaigns"
	image={ CDN_LINK + "idea-rebel-tornoto-digital-ageny.jpg?quality=" + IMAGE_QUALITY }
>
	<Header
		client:load
		title="Digital Services"
		subtitle="Raising the bar with killer ideas and cutting-edge technology. It's what we do."
		cover={ CDN_LINK + "idea-rebel-tornoto-digital-ageny.jpg?quality=" + IMAGE_QUALITY }
	/>
	<Container>
		<section class="relative p-4 md:p-0" id="content">
			<div class="grid grid-cols-1 md:grid-cols-2">
				<div class="grid grid-col gap-8">
					<H1>Technology as big as our ideas.</H1>
					<Paragraph>Idea Rebel’s creative solutions are suited to our clients’ business objectives – from web, ecommerce & mobile app development, experiential marketing and interactive experiences; from ideas to execution to connection, everything is achieved in-house.</Paragraph>
				</div>
			</div>
			<div class="relative md:absolute right-0 bottom-0 w-full md:w-1/3">
				<img
					src={ CDN_LINK + "devices.png?quality=" + IMAGE_QUALITY }
					class="w-full object-fill"
				/>
			</div>
		</section>
		<section class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8">
			{

				services_sorted.map( ( service ) => {

					return (
						<Service
							text={ service.data.listing_title }
							link={"/services/" + service.data.link }
							image={ service.data.listing_icon }
						/>
					)

				})

			}
		</section>
		<section class="relative">
			<div class="flex justify-center">
				<H5 primary_color={ true } uppercase={ true }>Process</H5>
			</div>
			<ServicesRight
				creative={ CDN_LINK + "strategy.jpg?quality=" + IMAGE_QUALITY }
				service_description="Every jaw-dropping innovation starts as an idea. The Idea Rebel process begins with a thorough assessment of the brand, the market, the competition, the target audience and the client’s goals – factors that inform our objectives and guide our strategies."
				service_image={ CDN_LINK + "About_Services_Strategy.gif?quality=" + IMAGE_QUALITY }
				service_title="Strategy"
				title="Strategic Digital Services"
				work={["Planning & Strategy","Digital Analysis","Conceptual Development","Branding"]}
				marginTop={ false }
			/>
			<ServicesLeft
				creative={ CDN_LINK + "creative.jpg?quality=" + IMAGE_QUALITY }
				service_description="Taking next-level solutions from incubation to actualization takes vision and confidence. Our creative team develops brands, assets and user experiences that service project objectives, however ambitious."
				service_image={ CDN_LINK + "About_Services_Creative.gif?quality=" + IMAGE_QUALITY }
				service_title="Creative"
				title="Creative Digital Services"
				work={["Creative Direction","Copywriting","Design","UX"]}
				marginTop={ true }
			/>
			<ServicesRight
				creative={ CDN_LINK + "webdevelopmentphoto.jpg?quality=" + IMAGE_QUALITY }
				service_description="Ideas are only as good as the technology supporting them. Our dev experts build the backbone behind every one of Idea Rebel’s innovations, often creating solutions specific to a project’s unique challenges."
				service_image={ CDN_LINK + "About_Services_Development.gif?quality=" + IMAGE_QUALITY }
				service_title="Technology"
				title="Digital Development Services"
				work={["Technical Architecture","Websites, Apps, eCommerce & Social","Content Management","Quality Assurance"]}
				marginTop={ true }
			/>
			<ServicesLeft
				creative={ CDN_LINK + "marketing.png?quality=" + IMAGE_QUALITY }
				service_description="Marketing lies at the heart of business success. That's why Idea Rebel goes beyond the build to target, engage and retain our clients’ audiences, utilizing the most effective channels to turn prospects into loyal customers."
				service_image={ CDN_LINK + "About_Services_Marketing.gif?quality=" + IMAGE_QUALITY }
				service_title="Marketing"
				title="Digital Marketing Services"
				work={["Media Strategy","SEO","SEM","Email","Ads","Social"]}
				marginTop={ true }
			/>
			<div class="h-full w-1 absolute bg-secondary top-0 left-[50%] -z-10 -ml-[1px]"/>
			<div class="h-1 w-8 absolute bg-secondary top-0 left-[50%] -z-10 -ml-4"/>
			<div class="h-1 w-8 absolute bg-secondary bottom-0 left-[50%] -z-10 -ml-4"/>
			<section class="py-20 flex justify-center">
				<Button link="digital-portfolio">SEE OUR WORK</Button>
			</section>
		</section>
	</Container>
	<Footer />
</Layout>
