---
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"
import Head from "../components/common/Head.astro"
import WeAreRebels from "../components/about/WeAreRebels.astro"
import MatchingIdeasToTechnology from "../components/about/MatchingIdeasToTechnology.astro"
import CreatingExceptionalDigitalExperiences from "../components/about/CreatingExceptionalDigitalExperiences.astro"
import "../styles.css"
import SelectClients from "../components/common/SelectClients.astro"
import SelectRewards from "../components/about/SelectRewards.astro"
---

<html lang="en">
	<Head
        title="Digital Marketing Agency in Toronto, Vancouver, Los Angeles | Idea Rebel"
		description="Idea Rebel is a digital marketing agency in Vancouver, Toronto, and Los Angeles. We specialize in Media buying, strategy, marketing campaigns"
		image="https://blupp.b-cdn.net/idearebel/About_Header_Widescreen-1-3840x2160.jpg?quality=80"
    />
	<body>
        <Header
            title="About"
            subtitle="We are an adaptive digital marketing agency creating provocative brand experiences."
            cover="https://blupp.b-cdn.net/idearebel/About_Header_Widescreen-1-3840x2160.jpg?quality=50"
			client:load
		/>
        <section class="container mx-auto max-w-6xl py-20">
            <div class="grid grid-col gap-20">
                <WeAreRebels />
                <MatchingIdeasToTechnology />
                <CreatingExceptionalDigitalExperiences />
                <div class="flex justify-center">
                    <Button
                        text="more about our services"
                        link="digital-services/"
                    />
                </div>
            </div>
            <SelectClients/>
        </section>
        <SelectRewards />
        <section class="conatiner mx-auto max-w-6xl py-4 md:py-20 p-4 md:p-0">
            <div class="grid grid-cols-1 md:grid-cols-12">
                <div class="col-span-2" />
                <div class="col-span-8 relative">
                    <p class="text-xl font-karla text-black">We have been recognized by the <a href="https://www.thebestvancouver.com/" target="_blank" rel="nofollow noindex"><b class="font-extrabold hover:underline !no-underline underline-offset-2">Best In Vancouver</b></a> as one of <a href="https://www.thebestvancouver.com/best-digital-marketing-agency-vancouver/#6_Idea_Rebel"rel="nofollow noindex"><b class="font-extrabold hover:underline underline-offset-2">The Best Digital Marketing Agencies in Vancouver 2021</b></a>.</p>
                </div>
            </div>
        </section>
        <section class="conatiner mx-auto max-w-6xl py-4 md:py-20 p-4 md:p-0">
            <div class="grid grid-cols-1 md:grid-cols-12">
                <div class="col-span-2" />
                <div class="col-span-4 relative gap-4 grid ">
                    <H2
                        text="We don't do paper."
                    />
                    <Paragraph
                        text="Being an environmentally sustainable company is at the core of our business model and part of our DNA, underpinning our actions and informing what we do. It’s why we walk, bike or bus to work, too."
                    />
                    <Button
                        text="learn more"
                        link="our-completely-paperless-company/"
                    />
                    <div class="absolute top-[30%] right-[-50%] w-56 h-56">
                        <img
                            src="https://blupp.b-cdn.net/idearebel/About_FPaperIcon.png?quality=80"
                            class="w-full h-full object-cover"
                        alt="picture"
                        />
                    </div>
                </div>
            </div>
		</section>
        <section class="conatiner mx-auto max-w-6xl py-4 md:py-20  p-4 md:p-0">
            <video
                loop={ true }
                autoPlay={ true }
                muted={ true }
                playsInline={ true }
                preload="auto"
                className="h-full w-full object-cover"
            >
                <source src={ "https://blupp.b-cdn.net/idearebel/Culture_Video_compressed.mp4" } type="video/mp4"/>
            </video>
        </section>
        <section class="conatiner mx-auto max-w-6xl py-4 md:py-20  p-4 md:p-0">
            <div class="grid grid-cols-1 md:grid-cols-12">
                <div class="col-span-2" />
                <div class="col-span-8">
                    <H2
                        text="Rebels"
                    />
                    <Paragraph
                        text="Rebels don’t follow. That’s why we’re continually challenging ourselves to create industry-leading excellence in everything we do, a mindset that starts with everyone on our team."
                    />
                </div>

            </div>
		</section>
        <section class="container mx-auto max-w-6xl py-20">
            <div class="grid grid-cols-1 md:grid-cols-3 p-4 md:p-0 gap-4 md:gap-10">
                <div class="col-span-1 md:col-span-2 bg-zinc-200">
                    <img
                        src="https://blupp.b-cdn.net/idearebel/mahira-idea-rebel.jpg?quality=80"
                        class="w-full h-full object-cover"
                        alt="picture"
                    />
                </div>
                <div class="grid gap-4 md:gap-10">
                    <div class="col-span-1 md:col-span-2 bg-zinc-200 w-full aspect-square">
                        <img
                            src="https://blupp.b-cdn.net/idearebel/Neil-new.jpg?quality=80"
                            class="w-full h-full object-cover"
                            alt="picture"
                        />
                    </div>
                    <div class="col-span-1 md:col-span-2 bg-zinc-200 w-full aspect-square">
                        <img
                            src="https://blupp.b-cdn.net/idearebel/jamie_garratt.jpg?quality=80"
                            class="w-full h-full object-cover"
                            alt="picture"
                        />
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 p-4 md:p-0 gap-4 md:gap-10 mt-0 md:mt-10">
                <div class="grid gap-10">
                    <div class="col-span-1 md:col-span-2 bg-zinc-200 w-full aspect-square">
                        <img
                            src="https://blupp.b-cdn.net/idearebel/Robbie.jpg?quality=80"
                            class="w-full h-full object-cover"
                            alt="picture"
                        />
                    </div>
                    <div class="col-span-1 md:col-span-2 bg-zinc-200 w-full aspect-square">
                        <img
                            src="https://blupp.b-cdn.net/idearebel/avr.jpg?quality=80"
                            class="w-full h-full object-cover"
                            alt="picture"
                        />
                    </div>
                </div>
                <div class="col-span-1 md:col-span-2 bg-zinc-200">
                    <img
                        src="https://blupp.b-cdn.net/idearebel/david_rossellat.jpg?quality=80"
                        class="w-full h-full object-cover bg-zinc-200"
                        alt="picture"
                    />
                </div>
            </div>
        </section>
        <Footer />
	</body>
</html>
