---
import { getCollection } from 'astro:content';
const services = await getCollection('services');
const services_sorted = services.sort((a, b) => a.data.order - b.data.order)
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
import ParagraphGaramond from "../components/common/atom/ParagraphGaramond.astro"
import ServicesRight from "../components/digital-services/ServicesRight.astro"
import ServicesLeft from "../components/digital-services/ServicesLeft.astro"
import Head from "../components/common/Head.astro"
import Service from "../components/services/Service.astro"
---

<html lang="en">
	<Head />
	<body>
        <Header
			client:load
            title="Digital Services"
            subtitle="Raising the bar with killer ideas and cutting-edge technology. It's what we do."
			cover="https://blupp.b-cdn.net/idearebel/idea-rebel-tornoto-digital-ageny.jpg?quality=80"
		/>
		<section class="relative p-4 md:p-0">
			<section class="container mx-auto max-w-6xl py-10">
				<div class="grid grid-cols-1 md:grid-cols-2">
					<div class="grid grid-col gap-8">
						<H1
							text="Technology as big as our ideas."
						/>
						<Paragraph
							text="Idea Rebel’s creative solutions are suited to our clients’ business objectives – from web, ecommerce & mobile app development, experiential marketing and interactive experiences; from ideas to execution to connection, everything is achieved in-house."
						/>
					</div>
				</div>
			</section>
			<div class="relative md:absolute right-0 bottom-0 w-full md:w-1/3">
				<img
					src="https://blupp.b-cdn.net/idearebel/devices.png"
					class="w-full object-fill"
				/>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl p-20 bg-zinc-200">
			<div class="grid grid-cols-2 md:grid-cols-4 gap-8">
				{

					services_sorted.map( ( service ) => {

						return (
							<Service
								text={ service.data.listing_title }
								link={"/services/" + service.data.link }
								image={ service.data.listing_icon }
							/>
						)

					})

				}
			</div>
		</section>
		<section class="container mx-auto max-w-6xl py-20 relative my-20">
			<ServicesRight
				creative="https://blupp.b-cdn.net/idearebel/strategy.jpg"
				service_description="Every jaw-dropping innovation starts as an idea. The Idea Rebel process begins with a thorough assessment of the brand, the market, the competition, the target audience and the client’s goals – factors that inform our objectives and guide our strategies."
				service_image="https://blupp.b-cdn.net/idearebel/About_Services_Strategy.gif"
				service_title="Strategy"
				title="Strategic Digital Services"
				work={["Planning & Strategy","Digital Analysis","Conceptual Development","Branding"]}
				marginTop={ false }
			/>
			<ServicesLeft
				creative="https://blupp.b-cdn.net/idearebel/creative.jpg"
				service_description="Taking next-level solutions from incubation to actualization takes vision and confidence. Our creative team develops brands, assets and user experiences that service project objectives, however ambitious."
				service_image="https://blupp.b-cdn.net/idearebel/About_Services_Creative.gif"
				service_title="Creative"
				title="Creative Digital Services"
				work={["Creative Direction","Copywriting","Design","UX"]}
				marginTop={ true }
			/>
			<ServicesRight
				creative="https://blupp.b-cdn.net/idearebel/strategy.jpg"
				service_description="Every jaw-dropping innovation starts as an idea. The Idea Rebel process begins with a thorough assessment of the brand, the market, the competition, the target audience and the client’s goals – factors that inform our objectives and guide our strategies."
				service_image="https://blupp.b-cdn.net/idearebel/About_Services_Strategy.gif"
				service_title="Strategy"
				title="Strategic Digital Services"
				work={["Planning & Strategy","Digital Analysis","Conceptual Development","Branding"]}
				marginTop={ true }
			/>
			<ServicesLeft
				creative="https://blupp.b-cdn.net/idearebel/creative.jpg"
				service_description="Taking next-level solutions from incubation to actualization takes vision and confidence. Our creative team develops brands, assets and user experiences that service project objectives, however ambitious."
				service_image="https://blupp.b-cdn.net/idearebel/About_Services_Creative.gif"
				service_title="Creative"
				title="Creative Digital Services"
				work={["Creative Direction","Copywriting","Design","UX"]}
				marginTop={ true }
			/>
			<div class="h-full w-1 absolute bg-zinc-200 top-0 left-[50%] -z-10 -ml-[1px]"/>
			<div class="h-1 w-8 absolute bg-zinc-200 top-0 left-[50%] -z-10 -ml-4"/>
			<div class="h-1 w-8 absolute bg-zinc-200 bottom-0 left-[50%] -z-10 -ml-4"/>
		</section>
		<section class="py-20 flex justify-center">
			<div class="w-48">
				<Button
					text="SEE OUR WORK"
					link="digital-portfolio"
				/>
			</div>
		</section>
        <Footer />
	</body>
</html>
