---
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
import Head from "../components/common/Head.astro"
import Ideas from "../components/home/Ideas.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header
			client:load
			title="Idea Rebel"
			cover="https://blupp.b-cdn.net/idearebel/NBA-Idea-Rebel.jpg?quality=80"
		/>
		<section class="conatiner mx-auto max-w-6xl py-20 my-20 flex justify-center">
			<div class="w-2/3 text-center">
				<h2 class="font-bold text-3xl mb-6">
					<span>We are a </span>
					<a href="/digital-marketing-agency/">
						<span class="relative group !z-20 cursor-pointer">
							<span class="z-20 relative">digital marketing agency.</span>
							<span class="absolute bg-green-300 h-2 w-full bottom-1 left-0 group-hover:h-5 !z-10 transition duration-20000 ease-in"></span>
						</span>
					</a>
				</h2>
				<H2
					text="We call Toronto, Vancouver, and Los Angeles home."
				/>
				<h2 class="font-bold text-3xl mb-6">
					<span>We push tech-driven</span>
					<a href="/digital-marketing-agency/">
						<span class="relative group !z-20 cursor-pointer">
							<span class="z-20 relative">ideas</span>
							<span class="absolute bg-green-300 h-2 w-full bottom-1 left-0 group-hover:h-5 !z-10 transition duration-20000 ease-in"></span>
						</span>
					</a>
					<span>to create killer</span>
					<a href="/digital-marketing-agency/">
						<span class="relative group !z-20 cursor-pointer">
							<span class="z-20 relative">work</span>
							<span class="absolute bg-green-300 h-2 w-full bottom-1 left-0 group-hover:h-5 !z-10 transition duration-20000 ease-in"></span>
						</span>
					</a>
					<span>and we're unapologetically good at</span>
					<a href="/digital-marketing-agency/">
						<span class="relative group !z-20 cursor-pointer">
							<span class="z-20 relative">what we do.</span>
							<span class="absolute bg-green-400 h-2 w-full bottom-1 left-0 group-hover:h-5 !z-10 transition duration-20000 ease-in"></span>
						</span>
					</a>
				</h2>
				<H2
					text="We are rebels."
				/>
			</div>
		</section>
		<section class="container mx-auto max-w-6xl p-4 md:p-0 md:py-20 my-4 md:my-20 relative z-10">
			<div class="grid flex flex-col-reverse md:flex-none grid-cols-1 md:grid-cols-3 gap-4 md:gap-20 z-30 items-center">
				<div class="grid gap-4 md:gap-10 col-span-1 z-30">
					<H5
						text="Driven By Culture"
					/>
					<H2
						text="We Are Rebels."
					/>
					<Paragraph
						text="Sure, we work with the biggest brands in the world from North America’s largest creative hubs, but we’re more than pixel pushers and copy jockeys – we’re skaters, podcasters, ping-pongers, foosballers, foodies and fixie riders, too."
					/>
					<Button
						text="EXPERIENCE OUR CULTURE"
						link="/digital-marketing-agency/"
					/>
				</div>
				<div class="col-span-2 w-full bg-zinc-400 z-30 h-[90%]">
					<img
						src="https://blupp.b-cdn.net/idearebel/Skateboard-Office.jpg?quality=80"
						class="object-cover w-full h-full"
						alt="We Are Rebels."
					/>
				</div>
			</div>
			<div class="absolute bg-zinc-200 !w-[100%] md:w-[80%] left-0 md:left-[50%] ml-0 md:-ml-[40%] h-full top-0 z-0"></div>
		</section>
		<section class="container mx-auto max-w-6xl py-10">
			<Ideas />
		</section>
		<Footer />
	</body>
</html>
