---
import H1 from "../components/common/atom/H1.astro"
import H2 from "../components/common/atom/H2.astro"
import H3 from "../components/common/atom/H3.astro"
import H5 from "../components/common/atom/H5.astro"
import Button from "../components/common/Button.astro"
import Paragraph from "../components/common/Paragraph.astro"
import Header from "../components/common/Header.jsx"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=karla:400" rel="stylesheet" />
	</head>
	<body>
		<Header
			client:load
			title="Idea Rebel"
			cover="https://blupp.b-cdn.net/idearebel/NBA-Idea-Rebel.jpg?quality=80"
		/>
		<section class="conatiner mx-auto max-w-6xl py-20 my-20 flex justify-center">
			<div class="w-2/3 text-center">
				<H2
					text="We are a digital marketing agency."
				/>
				<H2
					text="We call Toronto, Vancouver, and Los Angeles home."
				/>
				<H2
					text="We push tech-driven ideas to create killer work and we're unapologetically good at what we do."
				/>
				<H2
					text="We Are Rebels."
				/>
			</div>
		</section>
		<section class="conatiner mx-auto max-w-6xl py-20 my-20 relative z-10">
			<div class="grid grid-cols-3 gap-12 z-30 items-center">
				<div class="grid gap-10 col-span-1 z-30">
					<H5
						text="Driven By Culture"
					/>
					<H2
						text="We Are Rebels."
					/>
					<Paragraph
						text="Sure, we work with the biggest brands in the world from North America’s largest creative hubs, but we’re more than pixel pushers and copy jockeys – we’re skaters, podcasters, ping-pongers, foosballers, foodies and fixie riders, too."
					/>
					<Button
						text="EXPERIENCE OUR CULTURE"
						link="/digital-marketing-agency/"
					/>
				</div>
				<div class="col-span-2 w-full bg-zinc-400 z-30 h-[80%]">
					<img
						src="https://blupp.b-cdn.net/idearebel/Skateboard-Office.jpg?quality=80"
						class="object-cover w-full h-full"
						alt="We Are Rebels."
					/>
				</div>
			</div>
			<div class="absolute bg-zinc-200 w-[80%] left-[50%] -ml-[40%] h-full top-0 z-0"></div>
		</section>
		<Footer />
	</body>
</html>
