---
// LAYOUTS
import Container from "../layouts/Container.astro"
import Layout from "../layouts/Layout.astro"

// COMPONENTS
import Footer from "../components/Footer.astro"
import Header from "../components/common/Header.jsx"
import HoverEffect from "../components/common/HoverEffect.astro"
import Ideas from "../components/home/Ideas.astro"
import CaseStudies from "../components/home/CaseStudies.jsx"

// ATOMS
import Button from "../components/common/atom/Button.astro"
import H2 from "../components/common/atom/H2.astro"
import H5 from "../components/common/atom/H5.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"

// CUSTOM STYLESHEET
import "../styles.css"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../constants"
---
<Layout
	description="Idea Rebel is a Digital Marketing Agency in Toronto, Vancouver, & Los Angeles, specializing in consumer-centric digital experiences & Media"
	image={ CDN_LINK + "NBA-Idea-Rebel.jpg?quality=" + IMAGE_QUALITY }
	title="Idea Rebel | Digital Marketing Agency Toronto, Vancouver, Los Angeles"
>
	<Header
		client:load
		cover={ CDN_LINK + "NBA-Idea-Rebel.jpg?quality=" + IMAGE_QUALITY }
		extra_content_flag={ true }
		extra_content_link="/work/nba-digital-fan-experiences"
		extra_content={["NBA", "Digital Fan Experiences"]}
		title="Idea Rebel"
	/>
	<Container>
		<section id="content" class="flex justify-center">
			<div class="w-2/3 text-center">
				<H2>
					<span>We are a </span>
					<HoverEffect link="/digital-marketing-agency/">digital marketing agency.</HoverEffect>
				</H2>
				<H2>We call Toronto, Vancouver, and Los Angeles home.</H2>
				<H2>
					<span>We push tech-driven</span>
					<HoverEffect link="/digital-marketing-agency/">ideas</HoverEffect>
					<span>to create killer</span>
					<HoverEffect link="/digital-marketing-agency/">work</HoverEffect>
					<span>and we're unapologetically good at</span><br/>
					<HoverEffect link="/digital-marketing-agency/">what we do.</HoverEffect>
				</H2>
				<H2>We are rebels.</H2>
			</div>
		</section>
		<CaseStudies client:load />
		<section class="relative z-10">
			<div class="grid md:flex-none grid-cols-1 md:grid-cols-3 gap-4 md:gap-20 z-30 items-center">
				<div class="grid gap-4 md:gap-10 col-span-1 z-30">
					<H5 uppercase={ true } primary_color={ true } wide={ true } >Driven By Culture</H5>
					<H2>We Are Rebels.</H2>
					<Paragraph>Sure, we work with the biggest brands in the world from North America’s largest creative hubs, but we’re more than pixel pushers and copy jockeys – we’re skaters, podcasters, ping-pongers, foosballers, foodies and fixie riders, too.</Paragraph>
					<Button link="digital-marketing-agency/">EXPERIENCE OUR CULTURE</Button>
				</div>
				<div class="col-span-2 w-full !bg-secondary z-30 h-[90%]">
					<img
						src={ CDN_LINK + "Skateboard-Office.jpg?quality=" + IMAGE_QUALITY }
						class="object-cover w-full h-full"
						alt="We Are Rebels."
					/>
				</div>
			</div>
			<div class="absolute bg-secondary !w-[100%] md:w-[80%] left-0 md:left-[50%] ml-0 md:-ml-[40%] h-full top-0 z-0"></div>
		</section>
		<Ideas />
	</Container>
	<Footer />
</Layout>
