---
import Header from "../components/common/Header.jsx";
import Footer from "../components/Footer.astro";
import Head from "../components/common/Head.astro";
import { Content as TermsContent } from "../content/pages/terms-and-conditions.md";
import "../styles.css"
---
<html lang="en">
	<Head 
		title="Terms & Conditions | Idea Rebel"
		description="Idea Rebel reserves the right to collect users’ personal information to improve customer service, respond to requests and support needs more efficiently."
		image=""
	/>
	<body>
		<Header
			client:load
			title="Terms and Conditions"
			not_cover={ true }
		/>
        <section class="container max-w-6xl p-4 md:p-0 mx-auto grid md:!py-20" id="content">
            <TermsContent/>
		</section>
		<Footer />
	</body>
</html>