---
import H5 from "../common/atom/H5.astro"
const {

    heading,
    image,
    link,
    title,

} = Astro.props
---
<div class="flex flex-col gap-4">
    <div class="uppercase">{ heading }</div>
    <a href={ link } class="hover:underline">
        <div class="group grid grid-cols gap-4">
            <div class="h-60">
                <img
                    src={ image }
                    class="object-cover w-full h-full"
                />
            </div>
            <div class="hover:underline">
                <H5
                    text={ title }
                />
            </div>
        </div>
    </a>
</div>
