---
const {

link,
target,
text,

} = Astro.props
---
<a href={ link } target="_blank">
<button class={`font-semibold text-base border-2 border-black py-3 w-fit bg-black text-zinc-50 hover:bg-zinc-50 hover:text-black duration-200 px-5 font-karla tracking-widest uppercase`}>{ text }</button>
</a>