<footer class="bg-black">
    <section class="container mx-auto max-w-6xl text-white p-4 md:p-0 !py-10">
        <div class="grid grid-cols-1 md:grid-cols-12 items-center">
            <div class="col-span-3 text-center">Idea Rebel</div>
            <div class="col-span-6 text-center">The rebel's in the details. 1 877 732 3507</div>
            <div class="col-span-3 justify-end text-center">
                <div>Idea Rebel</div>
            </div>
        </div>
    </section>
    <section class="container mx-auto max-w-6xl text-white  p-4 md:p-0 !py-10">
        <div class="flex flex-col-reverse md:flex-row justify-between gap-4 md:gap-0">
            <div class="font-karla text-sm text-zinc-500 text-center">© 2023 Idea Rebel. Digital Marketing Agency Toronto, Vancouver, Los Angeles</div>
            <nav class="">
                <ul class="flex gap-4 justify-center !list-none list-inside p-0">
                    <li class="uppercase font-karla text-sm font-bold text-white">Privacy</li>
                    <li class="uppercase font-karla text-sm font-bold text-white">Terms</li>
                    <li class="uppercase font-karla text-sm font-bold text-white">Contact</li>
                </ul>
            </nav>
        </div>
    </section>
</footer>
