<footer class="bg-black">
    <section class="container mx-auto max-w-6xl py-10 text-white">
        <div class="grid grid-cols-12">
            <div class="col-span-3">Idea Rebel</div>
            <div class="col-span-6 text-center">The rebel's in the details. 1 877 732 3507</div>
            <div class="col-span-3 justify-end">
                <div>Idea Rebel</div>
            </div>
        </div>
    </section>
    <section class="container mx-auto max-w-6xl py-10 text-white">
        <div class="flex justify-between">
            <div>© 2023 Idea Rebel. Digital Marketing Agency Toronto, Vancouver, Los Angeles</div>
            <div class="flex gap-4">
                <div>Privacy</div>
                <div>Terms</div>
                <div>Contact</div>
            </div>
        </div>
    </section>
</footer>
