---
import ParagraphGaramond from "../atom/ParagraphGaramond.astro";
import H5 from "../atom/H5.astro";
const { link, title } = Astro.props
---
<a href={ link } class="underline">
    <div class="flex flex-col gap-2">
        <ParagraphGaramond
            text="Previous Project"
        />
        <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            <H5
                text={ title }
            />
        </div>
    </div>
</a>
