---
// LAYOUTS
import Layout from "../../layouts/Layout.astro"

// COLLECTION DATA
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const workEntries = await getCollection('work');
  	return workEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
const { entry } = Astro.props;
const { Content } = await entry.render();

// COMPONENTS
import Footer from "../../components/Footer.astro"
import Header from "../../components/common/Header.jsx"

// STYLESHEET
import "../../styles.css"
---
<Layout
	title={ entry.data.seo_title }
	description={ entry.data.seo_description }
	image={ entry.data.image }
>
	<Header
		client:load
		title={ entry.data.title }
		subtitle={ entry.data.sub_title !== "" ? entry.data.sub_title : null  }
		cover={ entry.data.image }
		video={ entry.data.video }
		video_flag={ entry.data.video_flag }
	/>
	<section id="content">
		<Content/>
	</section>
	<Footer />
</Layout>
