---
import H4 from "../common/atom/H4.astro"
// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants"
---
<div class="flex justify-center flex-col items-center py-10">
    <H4 uppercase={ true } wide= { true } karla={ true }>Select Clients</H4>
</div>
<div class="flex justify-center flex-col items-center gap-8 py-4">
    <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "7eleven.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "arcteryx.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "bmw.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "converse.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "fox.png?quality=" + IMAGE_QUALITY }
            >
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "hyundi.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "keurig.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "rogers.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "quiksilver.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "westjet.png?quality=" + IMAGE_QUALITY }
            >
        </div>
    </div>
    <div class="grid grid-cols-3 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "van_houtte.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "anheuser_busch.png?quality=" + IMAGE_QUALITY }
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src={ CDN_LINK + "roots.png?quality=" + IMAGE_QUALITY }
            >
        </div>
    </div>
</div>
