---
import H5 from "../common/atom/H5.astro"
import H4 from "../common/atom/H4.astro";
---
<section class="container mx-auto max-w-6xl py-20">
<div class="flex justify-center flex-col items-center py-10">
    <H4
        text="Select Clients"
        uppercase= { true }
        wide= { true }
        karla={ true }
    />
</div>
<div class="flex justify-center flex-col items-center gap-8 py-4">
    <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/7eleven.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/arcteryx.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/bmw.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/converse.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/fox.png?quality=80"
            >
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/hyundi.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/keurig.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/rogers.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/quiksilver.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/westjet.png?quality=80"
            >
        </div>
    </div>
    <div class="grid grid-cols-3 items-center justify-center gap-6">
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/van_houtte.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/anheuser_busch.png?quality=80"
            >
        </div>
        <div class="flex items-center justify-center">
            <img
                src="https://blupp.b-cdn.net/idearebel/roots.png?quality=80"
            >
        </div>
    </div>
</div>
</section>