---
import Layout from "../../../layouts/Layout.astro"

// CONTENT
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const careersEntries = await getCollection('careers');
  	return careersEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
const { entry } = Astro.props;
const { Content } = await entry.render();

// COMPONENTS
import Footer from "../../../components/Footer.astro"
import Header from "../../../components/common/Header.jsx"

// ATOM
import Button from "../../../components/common/atom/Button.astro"

// STYLESHEET
import "../../../styles.css"
---
<Layout
	title={ entry.data.seo_title }
	description={entry.data.seo_description}
	image={entry.data.image}
>
	<Header
		client:load
		title={ entry.data.title }
		subtitle={ entry.data.sub_title !== "" ? entry.data.sub_title : null  }
		cover={ entry.data.image }
		not_cover={ true }
	/>
	<section class="mt-5 container mx-auto max-w-2xl py-20" id="content">
		<Content/>
		<section class="mt-4 flex gap-8">
			<div class="w-56">
				<Button link="careers/vancouver">BACK TO CAREERS</Button>
			</div>
			<div class="w-56">
				<Button>APPLY NOW</Button>
			</div>
		</section>
	</section>
	<Footer />
</Layout>
